.podcast-view__icon {
  max-width: 158px;
  max-height: 158px;
  width: auto;
  height: auto;  
  float: left;
  margin: 10px;
  bottom: 0px;
}

.podcast-entry {
  min-height: 68px;
  display: flex;
  align-items: center;
}

.podcast-view {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.podcast-view__details {
  text-align: center;
  margin-top: 5px;
  overflow-y: scroll;
  /* box-shadow: 0px 0px 3px 3px #888888; */
}

.podcast-view__details__inner {
  margin: 0em 1em;
}

.podcast-view__subscribe {
  width: 100%;
  /* position: absolute; */
  /* bottom: 0px; */
  text-align: center;
  margin-top: 10px;
}

.podcast-entry_selected {
  background-color: lightgray;
}

.podcast-entry__date { 
  font-weight: bold;
  width: 56px;
  text-align: center;
  flex-shrink: 0;
}

.podcast-entry__title {
  margin: 5px 10px 5px 0px;
}