.podcast-details {
  margin: 14px;
}

hr {
  margin: 0px;
}

.generic-list {
  height: calc(100% - 210px);
  bottom: 0px;
  position: absolute;
  overflow-y: scroll;
  max-width: 420px;
  box-shadow: 0px 3px 3px #888;  
}

.generic-list__item {
  display: block;
}

.generic-list__item_selected {
  background-color: #B0C4DE;
}