hr {
  margin: 0px 10px;
}

.episode-list {
  height: calc(100% - 213px);
  bottom: 0px;
  position: fixed;
  overflow-y: scroll;
}

.podcast-icon {
  max-width: 158px;
  max-height: 158px;
  width: auto;
  height: auto;  
  float: left;
  margin: 10px;
  bottom: 0px;
}

.podcast-details {
  margin: 14px;
}

.podcast-entry {
  padding: 5px 0px;
  margin: 0px 10px;
  display: block;
}

.podcast-entry-selected {
  background-color: lightsteelblue;
}