.submitrss {
    align-self: flex-end;
    width: 100%
}

.submitrss-form {
    padding: 0;
    text-align: center;
}

.submitrss-input {
    width: auto;
    margin: 5px;
    border: none;
}

.submitrss-button {
    margin: 0px 5px;
}
