body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*color: #A6E22E;*/
  /*background-color: #272822;*/
} 

button {
  width: 70%;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background-color: white;
  font-size: 1em;
}

input {
  font-size: 1em;
}

ul {
  margin: 0px;
  padding: 0px;
}